.item-card {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin: 1rem;
    border-radius: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 0.1rem 5rem;
}

.item-card-buttons {
    display: flex;
}

.item-card h3 {
    justify-self: center;
    align-self: center;
}

.item-card-text {
    min-width: 30%;
    max-width: 30rem;
}

.item-card-text p {
    opacity: 0.65;
}

@media only screen and (max-width: 578px) {
    .item-card {
        padding: 1rem 1rem;
    }
}