.item-card {
    background-color: white;
    margin: 0.4rem;
    border-radius: 0.8rem;
    display: flex;
    align-items: center;
    padding: 0.1rem 2rem;
}

.item-card-main {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.button-add-item {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    text-align: center;
    border-radius: 50%;
    background-color: black;
    text-decoration: none;
    color: white;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5rem;
}

.button-add-item:hover {
    background-color: rgb(27, 27, 27);
}

.button-add-item:active {
    background-color: rgb(47, 47, 47);
}

.button-add-item:focus {
    box-shadow: 0 0 0 3px rgb(47, 47, 47);
    outline: none;
}

.item-card-buttons {
    display: flex;
    column-gap: 0.25rem;
}

.item-card-text {
    min-width: 30%;
    max-width: 30rem;
}

.item-card-text .desc-light {
    font-size: small;
}

.list-info {
    padding: 10px;
}


/* https://codepen.io/AllThingsSmitty/pen/WjZVjo */

.round {
    position: relative;
    width: 4rem;
}

.round label {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
    cursor: pointer;
    height: 28px;
    width: 28px;
    position: absolute;
    left: 0;
    top: 0;
}

.round label:after {
    border: 2px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 6px;
    left: 7px;
    opacity: 0;
    position: absolute;
    top: 8px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked+label {
    background-color: #66bb6a;
    border-color: #66bb6a;
}

.round input[type="checkbox"]:checked+label:after {
    opacity: 1;
}


/* Content section */

.content {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.side-nav {
    flex: 1 1 15%;
    background-color: #fff;
    padding: 1rem;
    overflow: auto;
}

.main-container {
    flex: 1 1 80%;
    padding: 1rem;
    overflow: auto;
}

.top-bar {
    display: none;
    height: 2rem;
    align-items: center;
}

.top-bar a {
    background-color: transparent;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 0.3rem;
    color: rgba(0, 0, 0, 0.65);
    text-decoration: none;
    margin: 1.5rem 0;
}

.top-bar a:hover {
    background-color: rgb(247, 247, 247);
    cursor: pointer;
}

.side-nav-card {
    color: black;
    padding: 0.02rem 0.3rem;
    border-radius: 0.3rem;
}

.side-nav-card i {
    padding: 0 0.5rem 0 0;
}

.side-nav-card:hover {
    background-color: rgb(247, 247, 247);
}

.side-nav-main__open {
    height: auto !important;
    overflow: visible;
    transition: 0.3s;
}

.side-nav__open {
    overflow: visible;
    transition: 0.3s;
}

@media only screen and (max-width: 578px) {
    .item-card {
        padding: 1rem 1rem;
    }
    .content {
        flex-direction: column;
        height: 100vh;
    }
    .top-bar {
        display: flex;
    }
    .side-nav {
        flex: 0 1 5%;
    }
    .side-nav-main {
        height: 0;
        overflow: hidden;
    }
    .item-card-main {
        flex-direction: column;
        align-items: flex-start;
    }
}