{% extends 'base/base.html' %}
{% load static %}

{% block title %}
Dashboard - Todovib
{% endblock title %}

{% block stylesheets %}
        <link rel="stylesheet" href="{% static 'home.css' %}">
{% endblock stylesheets %}

{% block body %}

        <h1 style="text-align: center;">TODOVIB</h1>


        <div class="list-grid">
            <div class="list-card create-list">
                <form action="{% url 'Home:create_list' %}">
                    <button type="submit">+</button>
                </form>
            </div>
            {% for list in lists %}
            <div class="list-card">
                <h2>{{ list.name }}</h2>
                <p>{{ list.description }}</p>
                <p>{{ list.created_at|date:"D d M Y" }}</p>
                <div class="list-buttons">
                    <form action="{% url 'List:view' list.id %}">
                        <button type="submit">View</button>
                    </form>
                    <form action="{% url 'List:update' list.id %}">
                        <button type="submit">Update</button>
                    </form>
                    <form action="{% url 'List:delete' list.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Delete</button>
                    </form>
                </div>
            </div>
            {% endfor %}
        </div>

{% endblock body %}